 .u-section-1 {
  min-height: 862px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/profile_picture.jpg");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 759px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  width: 355px;
  margin: 67px calc(((100% - 1140px) / 2)  + 393px) 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 61px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-2 .u-list-1 {
  width: 453px;
  margin: 0 auto 0 481px;
}

.u-section-2 .u-repeater-1 {
  min-height: 125px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  --gap: 32px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 20px 20px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  margin: 0 auto 0 0;
  padding: 5px 0 6px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 5px 0 6px;
}

.u-section-2 .u-image-1 {
  height: 145px;
  width: 145px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 40px;
  margin: -135px auto -10px 306px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 280px;
}

.u-section-2 .u-container-layout-3 {
  padding: 24px 0;
}

.u-section-2 .u-list-2 {
  width: 453px;
  margin: 0 306px 0 auto;
}

.u-section-2 .u-repeater-2 {
  min-height: 125px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  --gap: 32px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 20px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0 auto 0 0;
  padding: 5px 0 6px;
}

.u-section-2 .u-image-2 {
  height: 145px;
  width: 145px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 40px;
  margin: -135px auto -10px 306px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 940px) / 2) + 293px);
    margin-right: calc(((100% - 940px) / 2) + 293px);
  }

  .u-section-2 .u-list-1 {
    width: 100px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }

  .u-section-2 .u-image-1 {
    height: 100px;
    width: 100px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-2 .u-list-2 {
    margin-left: 381px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 17px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    --radius: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: calc(((100% - 720px) / 2) + 183px);
    margin-right: calc(((100% - 720px) / 2) + 183px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-2 {
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 540px) / 2) + 93px);
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-right: 87px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.34375rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 245px;
  }
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;

.u-section-3 .u-sheet-1 {
  min-height: 622px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  width: 213px;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1112px;
  margin: 45px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 25px);
  grid-template-columns: repeat(2, calc(50% - 25px));
  --gap: 50px;
  min-height: 349px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 20px 0;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 20px 0;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 13px 20px 0;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-4 {
  padding: 13px 20px 0;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-5 {
  padding: 13px 20px 0;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 596px;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 114px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 46px 229px 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 33px 229px 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1542px;
}

.u-section-5 .u-gallery-1 {
  height: 1166px;
  grid-gap: 17px;
  margin: 190px 0 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 0px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-5 .u-text-1 {
  width: 542px;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1337px;
  }

  .u-section-5 .u-gallery-1 {
    height: 961px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 2242px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1866px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 5484px;
  }

  .u-section-5 .u-gallery-1 {
    height: 5108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 3643px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3267px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/w4-min.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 400px;
  min-width: 160px;
  margin: 31px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-text-2 {
  width: 527px;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}
