 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, #1a1a1a 47%, #666666);
  background-size: cover;
  min-height: 807px;
}

.u-section-1 .u-image-1 {
  width: 276px;
  height: 276px;
  background-image: url("images/Perez_Anibal-6.jpg");
  background-position: 50% 29.88%;
  background-size: 106%;
  margin: 233px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  width: 554px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  font-size: 1.125rem;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 167px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 204px;
    margin-top: 83px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 40px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 80px;
}

.u-section-2 .u-social-icons-1 {
  height: 60px;
  width: 275px;
  min-width: 124px;
  margin: 10px auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  height: 60px;
}

.u-section-2 .u-icon-2 {
  height: 60px;
}

.u-section-2 .u-icon-3 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 49px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 37px;
    width: 177px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
} .u-section-3 {
  background-image: linear-gradient(120deg, rgba(102, 102, 102, 0.5), rgba(255, 255, 255, 0.5) 100%), linear-gradient(to bottom, rgba(128, 128, 128, 1), rgba(128, 128, 128, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 297px;
}

.u-section-3 .u-text-1 {
  width: 265px;
  font-weight: 300;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1001px;
  margin: 8px 40px 27px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 6px);
  grid-template-columns: repeat(2, calc(50% - 6px));
  --gap: 12px;
  min-height: 182px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 22px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, #404040 0%, #808080 100%);
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 607px;
}

.u-section-4 .u-text-1 {
  width: 843px;
  font-weight: 300;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 678px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 94px;
  height: 94px;
  background-image: url("images/Merrill-Lynch-logo1.png");
  background-position: 50% 50%;
  border-style: solid;
  --border-color-var: #000000cc;
  margin: 0 auto -2px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 301px;
}

.u-section-4 .u-container-layout-2 {
  padding: 70px 30px 96px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 237px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 85px;
  height: 85px;
  background-image: url("images/Screenshot2026-02-09222557.jpg");
  background-position: 0% 20.25%;
  background-size: 103%;
  --border-color-var: #000000cf;
  filter: none;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 237px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 82px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 235px;
    height: 235px;
    background-size: auto 111%;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-4 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-2 {
    width: 235px;
    height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 488px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-4 .u-image-1 {
    width: 115px;
    height: 115px;
    margin-top: 31px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px 18px 82px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 2px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 29px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-4 .u-image-2 {
    width: 115px;
    height: 115px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 183px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: -7px;
    margin-left: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-4 .u-image-1 {
    width: 500px;
    height: 500px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-4 .u-image-2 {
    width: 500px;
    height: 500px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 155px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-4 .u-image-1 {
    width: 120px;
    height: 120px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 142px;
  }

  .u-section-4 .u-image-2 {
    width: 120px;
    height: 120px;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(121deg, #666666, #ffffff);
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 428px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 90px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 16.6667%;
  grid-template-columns: repeat(6, 16.6667%);
  min-height: 190px;
  --gap: 0px;
}

.u-section-5 .u-list-item-1 {
  filter: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 134px;
  width: 134px;
  background-image: url("images/Python_programming_language-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-5 .u-list-item-2 {
  filter: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 134px;
  width: 134px;
  background-image: url("images/R_programming_language-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-5 .u-list-item-3 {
  filter: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 134px;
  width: 134px;
  background-image: url("images/C-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-5 .u-list-item-4 {
  filter: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 134px;
  width: 134px;
  background-image: url("images/Microsoft_Excel-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-5 .u-list-item-5 {
  filter: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 134px;
  width: 134px;
  background-image: url("images/FactSet-logo.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-5 .u-list-item-6 {
  filter: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  height: 134px;
  width: 134px;
  background-image: url("images/f8861c51f19c5cf3bf091c954f3b7834.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -98px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(14.285714285714286% - 8.57143px);
    grid-template-columns: repeat(7, calc(14.285714285714286% - 8.57143px));
    min-height: 157px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-5 .u-list-1 {
    width: 405px;
    margin: 14px auto 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 506px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 4px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 4px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 4px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 4px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 4px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -506px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 122px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 3px;
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 289px;
}

.u-section-6 .u-text-1 {
  font-weight: 300;
  margin: 47px auto 0;
}

.u-section-6 .u-list-1 {
  width: 733px;
  margin: 29px auto 38px;
}

.u-section-6 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 136px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-2 {
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-3 {
  margin: 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-4 {
  margin: 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-5 {
  margin: 0 auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-6 {
  margin: 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-7 {
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 596px;
}

.u-section-7 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 114px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 46px 229px 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 33px 229px 46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
    margin-top: 160px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
    margin-top: 33px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.125rem;
  }
} .u-section-8 {
  background-image: none;
  min-height: 1542px;
}

.u-section-8 .u-gallery-1 {
  height: 1166px;
  grid-gap: 17px;
  margin: 190px 0 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 0px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-top: -1px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-top: -1px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1337px;
  }

  .u-section-8 .u-gallery-1 {
    height: 964px;
    margin-top: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 3057px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2987px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 5484px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2262px;
    margin-top: 1650px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1635px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1456px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-9 {
  filter: none;
}

.u-section-9 .u-image-1 {
  min-height: 411px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/istockphoto-967099380-612x612.jpg');
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    min-height: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    min-height: 263px;
  }
}
