 .u-section-1 {
  min-height: 862px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("/images/Perez_Anibal-6.jpg");
  background-position: 50% 29.88%;
  background-size: 106%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, rgba(102, 102, 102, 0.5), rgba(255, 255, 255, 0.5) 100%), linear-gradient(to bottom, rgba(128, 128, 128, 1), rgba(128, 128, 128, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 766px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 265px;
  font-weight: 300;
  margin: 23px auto 0;
}

.u-section-2 .u-list-1 {
  width: 700px;
  margin: 7px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 24px;
  min-height: 548px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 20px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 20px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
}

.u-section-2 .u-container-layout-3 {
  padding: 9px 20px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
}

.u-section-2 .u-container-layout-4 {
  padding: 9px 20px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
}

.u-section-2 .u-container-layout-5 {
  padding: 9px 20px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-text-1 {
  width: 843px;
  font-size: 3rem;
  font-weight: 400;
  margin: 88px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 874px;
  margin: 60px 104px 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 268px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 140px;
  height: 140px;
  background-image: url("/images/Merrill-Lynch-logo1.png");
  background-position: 50% 50%;
  background-size: auto 111%;
  border-style: solid;
  --border-color-var: #000000cc;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin: 0 22px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 268px;
}

.u-section-3 .u-container-layout-2 {
  padding: 70px 30px 96px;
}

.u-section-3 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 254px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 140px;
  height: 140px;
  background-image: url("/images/Screenshot2026-02-09222557.jpg");
  background-position: 0% 20.25%;
  background-size: 103%;
  --border-color-var: #000000cf;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  filter: none;
  margin: 0 22px 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 254px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 82px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 458px;
    margin-right: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 235px;
    height: 235px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    width: 235px;
    height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 209px;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 682px;
    width: 540px;
    margin-top: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-3 .u-image-1 {
    width: 500px;
    height: 500px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-3 .u-image-2 {
    width: 500px;
    height: 500px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 434px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-3 .u-image-1 {
    width: 164px;
    height: 164px;
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 212px;
  }

  .u-section-3 .u-image-2 {
    width: 163px;
    height: 163px;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.25), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 428px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 90px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 16.6667%;
  grid-template-columns: repeat(6, 16.6667%);
  min-height: 190px;
  --gap: 0px;
}

.u-section-4 .u-list-item-1 {
  filter: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  height: 134px;
  width: 134px;
  background-image: url("/images/Python_programming_language-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(245,247,250,0.4);
  margin: 0 auto;
}

.u-section-4 .u-list-item-2 {
  filter: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  height: 134px;
  width: 134px;
  background-image: url("/images/R_programming_language-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(245,247,250,0.4);
  margin: 0 auto;
}

.u-section-4 .u-list-item-3 {
  filter: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  height: 134px;
  width: 134px;
  background-image: url("/images/C-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(245,247,250,0.4);
  margin: 0 auto;
}

.u-section-4 .u-list-item-4 {
  filter: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  height: 134px;
  width: 134px;
  background-image: url("/images/Microsoft_Excel-Logo.wine.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(245,247,250,0.4);
  margin: 0 auto;
}

.u-section-4 .u-list-item-5 {
  filter: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  height: 134px;
  width: 134px;
  background-image: url("/images/FactSet-logo.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(245,247,250,0.4);
  margin: 0 auto;
}

.u-section-4 .u-list-item-6 {
  filter: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  height: 134px;
  width: 134px;
  background-image: url("/images/f8861c51f19c5cf3bf091c954f3b7834.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(245,247,250,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -98px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(14.285714285714286% - 8.57143px);
    grid-template-columns: repeat(7, calc(14.285714285714286% - 8.57143px));
    min-height: 157px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -8px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -506px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 122px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 3px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 596px;
}

.u-section-5 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 114px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 46px 229px 0;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 33px 229px 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.125rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1542px;
}

.u-section-6 .u-gallery-1 {
  height: 1166px;
  grid-gap: 17px;
  margin: 190px 0 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 0px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
  padding: 20px;
}

.u-section-6 .u-text-1 {
  width: 542px;
  margin: 10px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1337px;
  }

  .u-section-6 .u-gallery-1 {
    height: 964px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 2242px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2987px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 5484px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1635px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1456px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-btn-2 {
    margin-bottom: 41px;
  }
} .u-section-7 {
  filter: none;
}

.u-section-7 .u-image-1 {
  min-height: 411px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/istockphoto-967099380-612x612.jpg");
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    min-height: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 123px;
  }
}