---
---
@import "{{ site.theme }}";
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logoformating {
  display:block;
  padding: 5px;
  height: 70;
  width: auto;
}
.blockformatting {
  border-style: outset;
  border-radius: 5px;
  border-color: hsl(0, 0%, 50%);
}
