---
---
@import "{{ site.theme }}";
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logoformating {
  display:block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100;
  width: auto;
}
  
